body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255, 0.5);
    min-width: 500px;
    max-width: 800px;
    margin: auto;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 10px;
    align-items: center;

}

#count-el {
    background-color: rgb(226, 226, 226);
    padding: 20px;
    width: fit-content;
    border-radius: 10px;
}

h1 {
    padding-top: 30;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

p {
    padding: 15px 20px;
    direction: rtl;
    background-color: rgb(226, 226, 226);
    min-width: 380px;
    max-width: 80%;
    border-radius: 10px;
    text-align: right;
}

button {
    width: 200px;
    padding: 0;
    border: none;
    border-radius: 10px;
    outline-offset: 1px;
    margin: 7px 0px;
    cursor: pointer;
}

.btn-container {
    align-self: center;
    min-width: 450px;
    display: flex;
    justify-content: space-evenly;
}

#increment-btn {
    order: 1;
    background: #181650;
}

#save-btn {
    background: #1c5838;
}

#save-el {
    font-weight: bold;
}

span.co {
    font-size: 30;
    font-weight: bold;
    display: block;
    background: #302ca0;
    padding: 12px 42px;
    border-radius: 10px;
    color: white;
    transform: translateY(-6px);
}

span.sa {
    font-size: 30;
    font-weight: bold;
    display: block;
    background: #2f8b5a;
    padding: 12px 42px;
    border-radius: 10px;
    color: white;
    transform: translateY(-6px);
}

#increment-btn:hover span.co {
    transform: translateY(-8px);
}

#save-btn:hover span.sa {
    transform: translateY(-8px);
}

#increment-btn:active span.co {
    transform: translateY(-2px);
}

#save-btn:active span.sa {
    transform: translateY(-2px);
}

@media screen and (max-width: 550px) {
    body {
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        /* text-align: center;
        align-self: center; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        background: rgb(255, 255, 255, 0.5);
        min-width: 80%;
        max-width: 90%;
        height: 90%;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
    }

    .btn-container {
        min-width: 300px;
        align-self: center;
        display: flex;
        justify-content: space-evenly;
    }

    #increment-btn {
        order: 1;
    }

    button {
        width: fit-content;
        padding: 0;
        border: none;
        border-radius: 10px;
        outline-offset: 1px;
        margin: 7px 0px;
        cursor: pointer;
    }

    span.co {
        font-size: 30;
        font-weight: bold;
        display: block;
        background: #302ca0;
        padding: 12px 30px;
        border-radius: 10px;
        color: white;
        transform: translateY(-6px);
    }

    span.sa {
        font-size: 30;
        font-weight: bold;
        display: block;
        background: #2f8b5a;
        padding: 12px 42px;
        border-radius: 10px;
        color: white;
        transform: translateY(-6px);
    }

    /* #increment-btn {
        background: #181650;
        cursor: pointer;
        outline-offset: 20px;
    } */

    /* #save-btn {
        background: #2f8b5a;
        cursor: pointer;
    } */

    p {
        margin-top: 40;
        min-width: 80%;
        max-width: 80%;
    }
}