body {
<<<<<<< HEAD
    background-image: url("images.jpg");
    background-size: cover;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 550px) {
    .container {
        background: rgb(255, 255, 255, 0.5);
        width: 85%;
        height: 85%;
        border: 0px solid black;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #increment-btn {
        background: #302ca0;
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }

    #save-btn {
        background: #2f8b5a;
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }

    h1 {
        padding-top: 30;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 50px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    p {
        margin-top: 40;
    }

    #save-el {
        font-weight: bold;
    }
}

/* body {
=======
>>>>>>> parent of 3dff9a0 (adding viewport to html)
    background-image: url("images.jpg");
    background-size: cover;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 100vh;
} */

.container {
    background: rgb(255, 255, 255, 0.5);
    max-width: 80%;
    margin: auto;
    border: 0px solid black;
    border-radius: 10px;
}

h1 {
    padding-top: 30;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

p {
    padding-top: 15;
    padding-bottom: 30;
    direction: rtl;
}

button {
    border: 0px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #302ca0;
}

#save-btn {
    background: #2f8b5a;
}

#save-el {
    font-weight: bold;
}